<head>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>

<body>

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

<script src="interface.js"></script>

</body>