<html>

<body>

	<div class="container">
		<div class="row text-center">
			<h3>
				Home
			</h3>
			<div>
			<ul>
				<li>Popular cuisine: </li>
				<li><button id="italian">Italian</button></li>
				<li><button id="chinese">Chinese</button></li>
				<li><button id="french">French</button></li>
				<li><button id="japanese">Japanese</button></li>
				<li><button id="mexican">Mexican</button></li>
				<li><button id="thai">Thai</button></li>
				<li><button id="see_more">See more</button></li>
			</ul>
			</div>
			<h5>Get a random meal by clicking below</h5>
			<button class="button-primary" id="get_meal"> Generate Meal </button>
			<br>
			<br>
			<div class="search_container">
				<form class="search_form">
					<input style="width: 300px;" type="text" placeholder="Filter by main ingredient" required>
					<input type="submit" value="submit">
				</form>
			</div>
		</div>
		<div id="meal" class="row meal"></div>

	</div>
	<script src="interface.js"></script>
</body>

</html>