<html>
<style>
</style>
<body>
	<!-- body container -->
	<div class="container">
	<!-- categories container -->
			<div class="categories">
				<ul class="category-btn">
					<li><a id="breakfast"><i class="fa-solid fa-bacon">
						<div class="category-items"> Breakfast </div></i></a></li>
					<li><a id="dessert"><i class="fa-solid fa-ice-cream">
						<div class="category-items">Dessert</div></i></a></li>
					<li><a id="starter"><i class="fa-solid fa-bowl-rice">
						<div class="category-items">Starter</div></i></a></li>
					<li><a id="side"><i class="fa-solid fa-shrimp">
						<div class="category-items">Side</div></i></a></li>
					<li><a id="vegan"><i class="fa-solid fa-seedling">
						<div class="category-items">Vegan</div></i></a></li>
					<li><a id="vegetarian"><i class="fa-solid fa-pepper-hot">
						<div class="category-items">Vegetarian</div></i></a></li>
				</ul>
			</div>
			<!-- popular categories container -->
			<div class="popular">
				<ul class="popular-by-area">
					<li><h5><i class="fa-solid">popular</h5></i></li>
					<li><button id="italian">Italian</button></li>
					<li><button id="chinese">Chinese</button></li>
					<li><button id="french">French</button></li>
					<li><button id="japanese">Japanese</button></li>
					<li><button id="mexican">Mexican</button></li>
					<li><button id="thai">Thai</button></li>
					<div class="dropdown">
						<li><button class="dropbtn" id="see_more"><i class="fa-solid fa-angle-down"></i></button></li>
						<div class="dropdown-content">
							<li><button id="american">American</button></li>
							<li><button id="greek">Greek</button></li>
							<li><button id="moroccan">Moroccan</button></li>
							<li><button id="vietnamese">Vietnamese</button></li>
						</div>
					</div>
				</ul>
			</div>
			<!-- span starts -->
	<span id="options_container">
		<!-- filter by ingredient container -->
			<div class="search_container">
				<form class="search_form">
					<input id="search" type="text" placeholder="Filter meals by ingredient" required pattern=".*\S+.*">
					<input type="submit" value="Submit" id="submit-btn">
				</form>
				
			</div>
			<h4> OR </h4>
	<!-- generate random meal container -->
			<div class="randommeal">
			<button class="button-primary" id="get_meal"> Generate Random Meal </button>
			</div>
			<!-- span ends -->
			</span>
		<!-- results container -->
		<div id="meal" class="row meal"></div>

	</div>
	<script src="interface.js"></script>
<script src="https://kit.fontawesome.com/c4d16ac0b6.js" crossorigin="anonymous"></script>
</body>

</html>