<h4>Log In</h4>
<form action="/sessions" method="post">
  <input type="email" placeholder="email" name="email">
  <input type="text" placeholder="password" name="password">
  <input type="submit" value="Submit">
</form>