<head>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
<script>
  function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<div class="sign-in">
  <form action="/sessions" method="post">
    <input type="email" placeholder="email" name="email" required pattern=".*\S+.*">
    <input type="password" id="myInput" placeholder="password" name="password" required pattern=".*\S+.*">
    <input type="checkbox" onclick="myFunction()"> Show Password
    <input id="submit" type="submit" value="Submit" />
  </form>
  <h5>Not a member? <a href="/users/new"> Sign up </a></h5>
</div>

<script src="/public/interface.js"></script>
</body>