<script>
  function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

<h4>Log In</h4>
<form action="/sessions" method="post">
  <input type="email" placeholder="email" name="email" required pattern=".*\S+.*">
  <input type="password" id="myInput" placeholder="password" name="password" required pattern=".*\S+.*">
  <input type="checkbox" onclick="myFunction()"> Show Password
  <input type="submit" value="Submit">
</form>

<h5>Not a member? Sign up <a href="/users/new">here</a></h5>