<script>
  function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<h3>Register</h3>

<div class="register">
  <form action="/users" method="post"> 
    <label for="name">Name: </label> 
    <input type="text" placeholder="name" name="name" required pattern=".*\S+.*"><br>
    <label for="email">Email: </label> 
    <input type="email" placeholder="email" name="email" required pattern=".*\S+.*"><br>
    <label for="password">Password: </label> 
    <input type="password" id="myInput" placeholder="password" name="password" required pattern=".*\S+.*"><br><br>
    <input type="checkbox" onclick="myFunction()"> Show Password
    <input id="submit" type="submit" value="Submit" />
  </form>
</div>
