<body>
<h1>Profile Page</h1>
<h4>
  {{name}}
<button onclick="showForm()">Edit your name</button>
<form action = "/users/name" method = "post" id="formElement" style="display: none;">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="New name"><br>
  <input type="submit" value="Submit">
</form>

  {{email}}
<button onclick="showEmailForm()">Edit your email address</button>
<form action="/users/email" method="post" id="emailElement" style="display: none;">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" placeholder="New Email"><br>
  <input type="submit" value="Submit">
</form>

<button onlick="showBookmarks()" id="bookmarkButton">Show Bookmarks</button>
<div id="getBookmarks"></div>

</h4>
</body>
<script>
  const bookmark = document.getElementById('bookmarkButton')
  const container = document.getElementById('getBookmarks')

    function showForm() {
      document.getElementById('formElement').style.display = 'block';
}
    function showEmailForm() {
        document.getElementById('emailElement').style.display = 'block';
}

    function ShowRecipe(event) {
      console.log(event.target.id)
      var Recipe = document.getElementById("showRecipe-" + event.target.id),
        displayValue = "";
      if (Recipe.style.display == "")
        displayValue = "none";

      Recipe.style.display = displayValue
    }

    function changeRecipeButton(event) {
        var elem = event.target
        if (elem.innerText == "Hide Recipe") elem.innerText = "Show Recipe";
        else elem.innerText = "Hide Recipe";
      }

    bookmark.addEventListener('click', (event) => {
      container.innerHTML = ''
      event.preventDefault();
      fetchAPI();
    });

// API for Bookmarks
    async function fetchAPI() {
      {{#each arr}}
      var URL = `https://www.themealdb.com/api/json/v1/1/lookup.php?i={{this}}`
      var responseURL = await fetch(URL)
      var responsejson = await responseURL.json()
      var mealObj = await responsejson.meals 
      generateHTML(mealObj)
       {{/each}}
      } 

       function generateHTML(data) {
        let newHTML = '';
        const ingredients = [];
        for(let i=1; i<=20; i++) {
          if(data[0][`strIngredient${i}`]) {
            ingredients.push(`${data[0][`strIngredient${i}`]} - ${data[0][`strMeasure${i}`]}`);
          } else {
            break;
		      }
	      }

          data.map(html  => {
            let newHTML =
            `<div class="row">
              <div class="columns five">
              <br>
              <br>
              <h3>${html.strMeal}</h3>
              <img src="${html.strMealThumb}" id="meal_img" alt="Meal Image" width="200" height="200">
           <button onclick="ShowRecipe(event); changeRecipeButton(event);" id="${html.idMeal}" value="Show Recipe">Show Recipe</button>

            <div id="showRecipe-${html.idMeal}" style="display:none">
              ${html.strCategory ? `<p><strong>Category:</strong> ${html.strCategory}</p>` : ''}
              ${html.strArea ? `<p><strong>Area:</strong> ${html.strArea}</p>` : ''}
              ${html.strTags ? `<p><strong>Tags:</strong> ${html.strTags.split(',').join(', ')}</p>` : ''}
              <h5>Ingredients:</h5>
              <ul>
              ${ingredients.map(ingredient => `<li>${ingredient}</li>`).join('')}
              </ul>
              <p>${html.strInstructions}</p>

              </div>
              
              </div>
              </div>
              <form action="/users/bookmarks/delete/${html.idMeal}" method="post">
              <button>Delete Bookmark</button>
              </form>
              `;
            container.innerHTML += newHTML;
              });
       }
</script>
