<head>
</head>
<body>
<h1>Profile Page</h1>
<h4>
  {{name}}
<button onclick="showForm()">Edit your name</button>
<form action = "/users/name" method = "post" id="formElement" style="display: none;">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="New name"><br>
  <input type="submit" value="Submit">
</form>

  {{email}}
<button onclick="showEmailForm()">Edit your email address</button>
<form action="/users/email" method="post" id="emailElement" style="display: none;">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" placeholder="New Email"><br>
  <input type="submit" value="Submit">
</form>

<button onlick="showBookmarks()" id="bookmarkButton">Show Bookmarks</button>
<div id="getBookmarks"></div>

</h4>
</body>
<script>
  const bookmark = document.getElementById('bookmarkButton')
  const container = document.getElementById('getBookmarks')

    function showForm() {
      document.getElementById('formElement').style.display = 'block';
}
    function showEmailForm() {
        document.getElementById('emailElement').style.display = 'block';
}

    function ShowRecipe(event) {
      console.log(event.target.id)
      var Recipe = document.getElementById("showRecipe-" + event.target.id),
        displayValue = "";
      if (Recipe.style.display == "")
        displayValue = "none";

      Recipe.style.display = displayValue
    }

    bookmark.addEventListener('click', (event) => {
      container.innerHTML = ''
      event.preventDefault();
      fetchAPI();
    });

// API for Bookmarks
    async function fetchAPI() {
      {{#each arr}}
      var URL = `https://www.themealdb.com/api/json/v1/1/lookup.php?i={{this}}`
      var responseURL = await fetch(URL)
      var responsejson = await responseURL.json()
      var mealObj = await responsejson.meals 
      generateHTML(mealObj)
       {{/each}}
      } 

       function generateHTML(data) {
        let newHTML = '';
        const ingredients = [];
        for(let i=1; i<=20; i++) {
          if(data[0][`strIngredient${i}`]) {
            ingredients.push(`${data[0][`strIngredient${i}`]} - ${data[0][`strMeasure${i}`]}`);
          } else {
            break;
		      }
	      }

          data.map(html  => {
            let newHTML =
            `<div class="row">
              <div class="columns five" id="recipe-${html.idMeal}">
              <br>
              <br>
              <h3>${html.strMeal}</h3>
              <img src="${html.strMealThumb}" id="meal_img" alt="Meal Image" width="170" height="170">
           <button onclick="ShowRecipe(event)" id="${html.idMeal}"> Show me the Recipe</button>

            <div id="showRecipe-${html.idMeal}" style="display:none">
              ${html.strCategory ? `<p><strong>Category:</strong> ${html.strCategory}</p>` : ''}
              ${html.strArea ? `<p><strong>Area:</strong> ${html.strArea}</p>` : ''}
              ${html.strTags ? `<p><strong>Tags:</strong> ${html.strTags.split(',').join(', ')}</p>` : ''}
              <h5>Ingredients:</h5>
              <ul>
              ${ingredients.map(ingredient => `<li>${ingredient}</li>`).join('')}
              </ul>
              <p width="120">${html.strInstructions}</p>
              
               <div class='print-recipe'>
              <button onclick="download(event)" id="${html.idMeal}">Download as PDF</button>
              </div>
              </div>
              </div>
              </div>
              <form action="/users/bookmarks/delete/${html.idMeal}" method="post">
              <button>Delete Bookmark</button>
              </form>
              `;
            container.innerHTML += newHTML;
              });
       }
function download(event) {
 var doc = new jsPDF(); //p - portrait, mm - Millimetre, 297- width, 210 - height
  doc.fromHTML(document.getElementById("recipe-" + event.target.id), // page element which you want to print as PDF
  20,
  1, 
  {
    'width': 140
  },
  function(a) 
   {
    doc.save("recipe.pdf");
  });
}


</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>