<head>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
 
 <body>

<form action="/posts" method="get">
<button id="submit-btn"> Back </a></button>
</form>
<div id="theRecipe"></div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to the top</button>

<script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};


    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    const container = document.getElementById('theRecipe')

    window.addEventListener('DOMContentLoaded', (event) => {
      container.innerHTML = ''
      event.preventDefault();
      fetchAPI();

    async function fetchAPI() {
      var URL = "https://www.themealdb.com/api/json/v1/1/search.php?s={{meal}}"
      var responseURL = await fetch(URL)
      var responsejson = await responseURL.json()
      var mealObj = await responsejson.meals 
      generateHTML(mealObj)
      } 

       function generateHTML(data) {
        let newHTML = '';
        const ingredients = [];
        for(let i=1; i<=20; i++) {
          if(data[0][`strIngredient${i}`]) {
            ingredients.push(`${data[0][`strIngredient${i}`]} - ${data[0][`strMeasure${i}`]}`);
          } else {
            break;
		      }
	      }

          data.map(html  => {
            let newHTML =
            `<div class="row">
              <div class="columns five">
              <br>
              <br>
              <h3>${html.strMeal}</h3>
              <img src="${html.strMealThumb}" id="meal_img" alt="Meal Image" width="200" height="200">
              ${html.strCategory ? `<p><strong>Category:</strong> ${html.strCategory}</p>` : ''}
              ${html.strArea ? `<p><strong>Area:</strong> ${html.strArea}</p>` : ''}
              ${html.strTags ? `<p><strong>Tags:</strong> ${html.strTags.split(',').join(', ')}</p>` : ''}
              <h5>Ingredients:</h5>
              <ul>
              ${ingredients.map(ingredient => `<li>${ingredient}</li>`).join('')}
              </ul>
              <p>${html.strInstructions}</p>

              </div>
              
              </div>
              </div>
              <form action="/posts/${html.strMeal}" method="post">
              Want to join the conversation? <br> Share your opinions on this recipe with other foodies here! <br>
              <input name="message" type="text" placeholder="comment" id="comment-box" class="comment-bar" >
              <button type="submit" value="submit" id="submit-btn">Submit</button>
              </form>
              <br>
             			<form action="/users/bookmarks/${html.idMeal}" id="bookmarks" method="post">
              <button id="submit-btn">Bookmark</button>
            </form>`

            container.innerHTML += newHTML;
              });
       }
  })

</script>
<script src="/public/interface.js"></script>
</body>